<!-- register form -->
{{#if errors}}
<div id="notify">
	Found Errors:
	<div id="notify-list">
		{{#each errors}}
		<ul>{{this.msg}}</ul>
		{{/each}}
	</div>
</div>
{{/if}}

<p></p>
<form action="/signup" method="post">	
	<p><label for="firstName">First name</label></p>
	<div class="field">
		<input id="firstName" name="firstName" type="text" value="{{locals.params.firstName}}">
		{{#errors errors}}
		<div class="validity firstName">
			<div class="validateMessage"></div>
		</div>
		{{/errors}}
	</div>

	<p><label for="lastName">Last name</label></p>
	<div class="field">
		<input id="lastName" name="lastName" type="text" value="{{locals.params.lastName}}">
		<div class="validity lastName">
			<div class="validateMessage"></div>
		</div>
	</div>

	<p><label for="email">Email address</label></p>
	<div class="field">
		<input id="email" name="email" type="text" value="{{locals.params.email}}">
		<div class="validity email">
			<div class="validateMessage"></div>
		</div>
	</div>

	<p><label for="password">Create a password</label></p>
	<div class="field">
		<input id="password" name="password" type="password">
		<div class="validity password">
			<div class="validateMessage"></div>
		</div>
	</div>

	<p><label for="username">Choose your username</label></p>
	<div class="field">
		<input id="username" name="username" type="username" value="{{locals.params.username}}">
		<div class="validity username">
			<div class="validateMessage"></div>
		</div>
	</div>

	<p><input type="submit" value="Sign Up!"></p>
</form>
<!-- end register form -->